@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav-container{
    display: flex;
    gap: 370px;
    height: 70px;
    font-family: "Poppins", serif;
    border-bottom: 1px solid color-mix(in oklab, #a71e14 25%, white);
    align-items: center;
}

ul{
    display: flex;
    gap: 40px;
    padding: 10px;
}

li{
    list-style-type: none;
}

.nav-container .logo{
    padding: 15px 72px;
}

.nav-container .Btn{
   height: 35px;
   width: 75px;
   font-family: "Poppins", serif;
   color: white;
   background-color: red;
   border: none;
   font-size: 15px;
}

